@import './../../../../scss/colors';
@import './../../../../scss/mixins';

@mixin checkMarkPseudoElement($width, $height) {
  display: block;
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-color: $green_light;
  border-bottom: 1px solid rgba($green_dark, .6);
}

.todoWrapper{
  position: relative;
  padding: .6rem 1rem;
  cursor: pointer;
  word-wrap: break-word;

  &:hover{
    background-color: $grey_light2;
  }

  &__editMode{
    background-color: rgba($grey, .45);

    &:hover{
      background-color: rgba($grey, .4);
    }
  }
}

.todoTitle{
  font-size: .9rem;
  font-weight: 600;
  color: $grey_dark2;
  width: fit-content;
}

.priority{
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: .68rem;

  &__icon{
    &--low{
      color: $blue;
    }

    &--normal{
      color: $green;
    }

    &--high{
      color: $red;
    }
  }

  &__text{
    &--low{
      color: $blue_light !important;
    }

    &--normal{
      color: $green_light !important;
    }

    &--high{
      color: $red_light !important;
    }
  }

  & i{
    margin-right: .2rem;
  }
  & span{
    color: $red_light;

    &::selection {
      background: transparent; /* WebKit/Blink Browsers */
    }
    &::-moz-selection {
      background: transparent; /* Gecko Browsers */
    }
  }

  &--editMode{
    &:hover{
      border-bottom: 1px $grey solid;
    }
  }
}

.completionTime{
  min-width: 9rem;
  max-width: 9rem;

  & img{
    width: 1rem;
    margin-right: .4rem;
  }
  font-size: .8rem;
  color: $grey_dark;
}

.completeTaskButton{
  background-color:transparent;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;

  &--hide{
    animation-name: hideCompleteTaskButton;
    animation-duration: .85s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
  }

  &--return{
    animation-name: returnCompleteTaskButton;
    animation-duration: .85s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }

  &__bgCircles{
    transition: opacity .4s ease-in-out;

    opacity: .6;

    &:hover{
      opacity: .85;
    }

    &::before{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $grey;
      //border: $grey 1px solid;
    }

    &::after{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      border-radius: 50%;
      background-color: $grey_light;

      @include blurElement(3px);
    }
  }

  &__checkMark{
    opacity: 0;

    &--show{
      opacity: 1;
    }

    &::before{
      @include checkMarkPseudoElement(.6rem, 1rem);
      top: 38%;
      left: 14%;
      transform: translate(-50%, -50%);
      transform: rotate(130deg);
    }
    &::after{
      @include checkMarkPseudoElement(.5rem, 2.4rem);
      top: -10%;
      left: 54%;
      transform: translate(-50%, -50%);
      transform: rotate(45deg);
    }
  }
}


//Task states
.taskState{
  & img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  & h5, .completionTime{
    color: $grey !important;
  }

  & .priority{
    & i, span{
      color: $grey !important;
    }
  }

  &__completed{
    background-color:rgba($grey_dark, .1);
  }
}



//Edit mode styles

.input_title{
  display: inline-block;
  border: none;
  outline: none;
  background: rgba(white, .5);

  font-size: .9rem;
  font-weight: 600;
  color: $grey_dark2;
  margin-bottom: .5rem;
  vertical-align: middle;
  width: 100%;
  height: 17px;
}

.removeTaskButton{
  position: absolute;
  width: 4.2rem;
  height: 5rem;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba($red, .8), rgba($red_light, .9));
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 86%);
  opacity: .94;
  transition: opacity .35s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(6rem, 0);

  &--reveal{
    animation-name: revealRemoveTaskButton;
    animation-duration: .75s;
    animation-delay: .3s;
    animation-fill-mode: both;
  }

  &--hide{
    animation-name: hideRemoveTaskButton;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  & i {
    font-size: 1.8rem;
    color: $grey_light2;
    position: absolute;
    bottom: 14%;
    right: 12%;
  }

  &:hover{
    opacity: .74 !important;
  }
}



//keyframes

@keyframes hideCompleteTaskButton{
  0%{
    opacity: 1;
    transform: translate(0, 0);
  }
  25%{
    transform: translate(-.5rem, 0);
  }
  40%{
    transform: translate(-.5rem, 0);
  }
  100%{
    opacity: 0;
    transform: translate(8rem, 0);
  }
}

@keyframes returnCompleteTaskButton{
  0%{
    opacity: 0;
    transform: translate(6rem, 0);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes revealRemoveTaskButton{
  0%{
    transform: translate(6rem, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes hideRemoveTaskButton{
  0%{
    opacity: 1;
    transform: translate(0, 0);
  }
  100%{
    opacity: 0;
    transform: translate(6rem, 0);
  }
}
