<div #todoWrapper class="todoWrapper" (clickOutside)="turnOffEditMode()">

  <!--Task title-->
  <div style="width: 85%;">
    <h5 *ngIf="!editMode" class="todoTitle">{{title}}</h5>
    <input *ngIf="editMode" #input_title class="input_title" type="text" [value]="title">
  </div>
  <!---->

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">

      <!--Task completion time-->
      <div class="completionTime mr-4">
        <img src="assets/svg/calendar2.svg" alt="Task completion time">

        <span *ngIf="!editMode">{{completionTime ? completionTime : 'Anytime'}}</span>
        <input *ngIf="editMode" type="date">
      </div>

      <!---->

      <!--Task priority-->
      <div>
        <div class="priority">
          <i #priorityIcon class="fas fa-dot-circle"></i>
          <span #priorityText>{{priority.toUpperCase()}}</span>
        </div>

        <!--
        <div *ngIf="editMode">
          <select>
            <option value="0">Low</option>
            <option value="1">Normal</option>
            <option value="2">High</option>
          </select>
        </div>
        -->
      </div>
      <!---->

    </div>

    <button class="completeTaskButton" (click)="$event.stopPropagation(); toggleCompleted()">
      <div class="completeTaskButton__bgCircles"></div>
      <div #completeTaskButtonCheckmark class="completeTaskButton__checkMark"></div>
    </button>
  </div>
</div>
