<div class="wrapper">
  <ul #taskCategoriesList class="taskCategoriesList customScrollbar customScrollbar__none">

    <!-- // Crear su propio componente al item de categoria-->
    <li
      *ngFor="let category of categories"
      class="taskCategoriesList__item"
      (dblclick)="editModeSubject.next(true)"
      (clickOutside)="editModeSubject.next(false)"
    >
      <app-editable-text
        inputBackground="rgba(white, .5)"
        [text]="category.name"
        fontSize="0.78rem"
        [editing]='editModeSubject'
      >
      </app-editable-text>

      <i class="fas fa-lg mr-3" [ngClass]="category.faIconClass" [style.color]="getColorHex(category.colorHex)"></i>
    </li>

  </ul>

  <button class="addCategoryButton" (click)="pushNewCategory()"><i class="far fa-lg fa-plus-square mr-1"></i> Add new</button>
</div>
