<div class="wrapper">

  <div class="categoriesTitle">Categories</div>

  <!--Visual elements-->
  <app-loading-wheel *ngIf="!categories"></app-loading-wheel>
  <!---->

  <div *ngIf="(categories && categories.length === 0) && !creatingCategory" class="nothingFoundText">
    <span>You don't have any categories yet.</span>
  </div>

  <ul #taskCategoriesList class="taskCategoriesList customScrollbar customScrollbar__3">

    <li *ngIf="creatingCategory" class="taskCategoriesList__item">
      <app-create-category
        (onTaskCategoryCreated)="onCategoryCreated($event)"
      >
      </app-create-category>
    </li>

    <li *ngFor="let category of categories" class="taskCategoriesList__item">
      <app-task-category
        [categoryID]="category._id"
        [categoryName]="category.name"
        [categoryFaIconClass]="category.icon_class"
        [colorHex]="category.color"
        (onRemoveCategoryButtonClick)="toggleRemoveModal($event)"
      >
      </app-task-category>
    </li>

  </ul>

  <button class="addCategoryButton" (click)="toggleCreatingCategory()"><i class="far fa-lg fa-plus-square mr-1"></i> Add new</button>
</div>

<!--Remove task modal-->
<app-basic-modal
  *ngIf="showRemoveModal"
  modalWidth="40%"
  modalHeight="36%"
  (onBackdropClick)="toggleRemoveModal()"
>
  <app-confirmation-modal
    title="Would you like to delete this item?"
    (onCancel)="toggleRemoveModal()"
  >
  </app-confirmation-modal>
</app-basic-modal>
<!---->
