<div
  #wrapper
  class="wrapper"
  (click)="!editMode && onSelect.emit()"
  (clickOutside)="!_clickAwayEnabled ? _clickAwayEnabled = true : turnOffEditMode();"
>

  <div class="d-flex align-items-center w-100">
    <div>
      <app-icon-picker
        *ngIf="editMode"
        [iconsColor]="taskCategory.color"
        (onIconClick)="changeIcon($event)"
        (onColorChange)="changeIconColor($event)"
      >
      </app-icon-picker>
      <i
        #categoryIcon
        class="categoryIcon mr-3"
        [ngClass]="taskCategory.icon_class"
        [style.color]="(selected && !editMode) ? _colorPalette.getColorHex('grey_light2') : taskCategory.color"
      >
      </i>
    </div>

    <app-editable-text
      [text]="taskCategory.name"
      [fontSize]="'0.7rem'"
      [fontWeight]="600"
      [color]="(selected && !editMode) && _colorPalette.getColorHex('grey_light2')"
      [editing]='editModeSubject'
      [width]="'100%'"
      [display]="'flex'"
      (onTextChange)="editMode && taskCategory.name = $event"
    >
    </app-editable-text>
  </div>

  <!-- Remove category button-->
  <div *ngIf="editMode" class="removeCategoryButton" >
    <i class="far fa-times-circle" (click)="onRemoveCategoryButtonClick.emit(taskCategory.id);"></i>
  </div>
  <!---->

  <!-- Edit category button-->
  <div *ngIf="!editMode" class="editCategoryButton" >
    <i class="fas fa-pencil-alt" (click)="turnOnEditMode();"></i>
  </div>
  <!---->

</div>
