<div
  class="wrapper"
  (dblclick)="editModeSubject.next(true)"
  (clickOutside)="editModeSubject.next(false)"
>

  <div class="d-flex align-items-center w-100">
    <div>
      <app-icon-picker
        *ngIf="editMode"
        [iconsColor]="colorHex"
        (onIconClick)="changeIcon($event)"
        (onColorChange)="changeIconColor($event)"
      >
      </app-icon-picker>
      <i
        #categoryIcon
        class="categoryIcon mr-3"
        [ngClass]="categoryFaIconClass"
        [style.color]="colorHex"
      >
      </i>
    </div>

    <app-editable-text
      [text]="categoryName"
      [fontSize]="'0.78rem'"
      [fontWeight]="600"
      [editing]='editModeSubject'
      width="85%"
      display='flex'
    >
    </app-editable-text>
  </div>

  <div *ngIf="editMode" class="removeCategoryButton" >
    <i class="fas fa-trash" (click)="onRemoveCategoryButtonClick.emit(categoryID);"></i>
  </div>

</div>
