
  <div class="gridContainer">
    <div *ngIf="_creatingTaskMode" class="clickPreventerWrapper">
      <app-click-preventer></app-click-preventer>
    </div>

    <!-- Categories -->
      <app-todo-categories
        (onCategorySelected)="onTaskCategorySelected($event)"
      >
      </app-todo-categories>
    <!---->

    <div #tasksWrapper class="tasksWrapper">
      <div class="doubleClickTip">
        <i class="fas fa-mouse mr-2"></i>
        <span>Double-click on a task to edit</span>
      </div>

      <!--Visual elements-->
      <div *ngIf="!tasks" class="h-100" style="position: relative;">
        <app-loading-wheel></app-loading-wheel>
      </div>
      <div *ngIf="_creatingTaskMode" class="createTaskDarkBg"></div>
      <!---->

      <app-nothing-found-text
        *ngIf="(tasks && tasks.length === 0) && !_creatingTaskMode"
        text="You haven't created any tasks yet."
      ></app-nothing-found-text>

      <!--Tasks list -->
      <ul class="customScrollbar customScrollbar__1">

        <!--New task -->
        <app-create-todo
          *ngIf="_creatingTaskMode"
          [selectedCategory]="selectedTaskCategory"
          (onClickAway)="_newTaskClickAwayEnabled && toggleDiscardNewTaskModal();"
          (onTaskCreated)="onTaskCreated()"
        >
        </app-create-todo>
        <!---->

        <li *ngFor="let task of tasks" id="task_{{task.id}}" [ngClass]="_creatingTaskMode && 'taskItem--blur'">
          <app-todo
            id="{{task.id}}"
            categoryId="{{task.task_category_id}}"
            title='{{task.title}}'
            date='{{task.date}}'
            priority='{{task.priority}}'
            isTaskCompleted='{{task.completed}}'
            (onRemoveTaskButtonClick)="toggleDeleteModal($event)"
            (onUpdateTask)="onTaskUpdated($event)"
          >
          </app-todo>
        </li>

        <li style="height: 14rem"></li>

      </ul>
      <!---->

      <!--Create new task button-->
      <div class="createTaskButton" (click)="toggleCreatingTaskMode('on')">
        <i class="fas fa-plus-circle"></i>
      </div>
      <!---->

      <app-filter-data-button
        [filterOptions]="['priority', 'completed', 'date']"
        [defaultFilter]="selectedFilter"
        [orientation]="selectedOrientation"
        (onFilterChange)="onFilterChanged($event)"
        (onOrientationChange)="onOrientationChanged($event)"
      >
      </app-filter-data-button>
    </div>
  </div>

<!--Remove task modal-->
<app-basic-modal
  *ngIf="showDeleteModal"
  modalWidth="40%"
  modalHeight="36%"
  (onBackdropClick)="toggleDeleteModal()"
>
  <app-confirmation-modal
    title="Would you like to delete this task?"
    (onCancel)="toggleDeleteModal()"
    (onConfirm)="deleteTask()"
  >
  </app-confirmation-modal>
</app-basic-modal>
<!---->

<!--Discard new task modal-->
<app-basic-modal
  *ngIf="showDiscardNewTaskModal"
  modalWidth="40%"
  modalHeight="36%"
  (onBackdropClick)="toggleDiscardNewTaskModal();"
>
  <app-confirmation-modal
    title="Discard new task?"
    (onCancel)="toggleDiscardNewTaskModal();"
    (onConfirm)="toggleDiscardNewTaskModal(); toggleCreatingTaskMode('off');"
  >
  </app-confirmation-modal>
</app-basic-modal>
<!---->

