<div class="wrapper">
  <app-click-preventer *ngIf="creatingTaskMode"></app-click-preventer>

  <div class="container">
    <div class="row">
      <div class="col col-4" style="position: initial;">
        <app-todo-categories></app-todo-categories>
      </div>

      <div #tasksWrapper class="col col-8 tasksWrapper customScrollbar customScrollbar__1">

        <!--Visual elements-->
        <app-loading-wheel *ngIf="!tasks"></app-loading-wheel>
        <div *ngIf="creatingTaskMode" class="createTaskDarkBg"></div>
        <!---->

        <div *ngIf="(tasks && tasks.length === 0) && !creatingTaskMode" class="nothingFoundText">
          <span>You haven't created any tasks yet.</span>
        </div>

        <div *ngIf="tasks && tasks.length > 0" class="doubleClickTip">
          <i class="fas fa-mouse mr-2"></i>
          <span>Double-click on a task to edit</span>
        </div>

        <!--Tasks list-->
        <ul #todoList [style.marginBottom]="!creatingTaskMode ? '26rem' : '0'">

          <!--New task-->
          <app-create-todo
            *ngIf="creatingTaskMode"
            (onClickAway)="enableNewTaskClickAway && toggleDiscardNewTaskModal();"
            (onTaskCreated)="onTaskCreated()"
          >
          </app-create-todo>
          <!---->

          <li *ngFor="let task of tasks" id="task_{{task.id}}" [ngClass]="creatingTaskMode && 'taskItem--blur'">
            <app-todo
              taskId="{{task.id}}"
              taskCategoryId="{{task.task_category_id}}"
              title='{{task.title}}'
              date='{{task.date}}'
              priority='{{task.priority}}'
              isTaskCompleted='{{task.completed}}'
              (onRemoveTaskButtonClick)="toggleDeleteModal($event)"
              (onUpdateTask)="onTaskUpdated($event)"
            >
            </app-todo>
          </li>

        </ul>
        <!---->

        <!--Create new task button-->
        <div class="createTaskButton" (click)="toggleCreatingTaskMode('on')">
          <i class="fas fa-plus-circle"></i>
        </div>
        <!---->

        <app-filter-data-button
          (onFilterChange)="filterData($event)"
          [filterOptions]="['completed', 'overtime', 'pending']"
          defaultFilter='completed'
        >
        </app-filter-data-button>
      </div>
    </div>
  </div>
</div>

<!--Remove task modal-->
<app-basic-modal
  *ngIf="showDeleteModal"
  modalWidth="40%"
  modalHeight="36%"
  (onBackdropClick)="toggleDeleteModal()"
>
  <app-confirmation-modal
    title="Would you like to delete this item?"
    (onCancel)="toggleDeleteModal()"
    (onConfirm)="deleteTask()"
  >
  </app-confirmation-modal>
</app-basic-modal>
<!---->

<!--Discard new task modal-->
<app-basic-modal
  *ngIf="showDiscardNewTaskModal"
  modalWidth="40%"
  modalHeight="36%"
  (onBackdropClick)="toggleDiscardNewTaskModal();"
>
  <app-confirmation-modal
    title="Discard new task?"
    (onCancel)="toggleDiscardNewTaskModal();"
    (onConfirm)="toggleDiscardNewTaskModal(); toggleCreatingTaskMode('off');"
  >
  </app-confirmation-modal>
</app-basic-modal>
<!---->

