@import './../../../scss/colors';

$testlist: ();

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container{
  height: 100%;
  width: 100% !important;
}

.row{
  position: absolute;
  width: 100%;
  height: 100%;
}

.todosWrapper{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  ul{
    list-style: none;
    padding: 0 !important;

    & > li{
      animation-duration: 1s;
    }
  }
}

.doubleClickTip{
  color: $grey_dark;
  font-size: .7rem;
  text-align: center;
  padding: 1rem 0;
}

.taskItemFadeIn{
  animation-name: taskFadeIn;
}

@-webkit-keyframes taskFadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 25%);
  }
  75% {
    opacity: 0.5;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
