@import "./../../../../scss/colors";

.editableText {
  &__text {
    width: fit-content;

    &::-moz-selection {
      background: transparent;
    }

    &::selection {
      background: transparent;
    }
  }
}

.text_input {
  display: inline-block;
  border: none;
  outline: none;
  text-align: left;
  background-color: rgba(white, .5);

  width: 100%;
  height: 17px;
}
