<div
  class="wrapper"
  (clickOutside)="!_clickAwayOmittedFirst ? _clickAwayOmittedFirst = true : saveCategory();"
>

  <div class="d-flex align-items-center">
    <div>
      <app-icon-picker
        [iconsColor]="_colorPalette.getColorHex('blue')"
        (onIconClick)="changeIcon($event)"
        (onColorChange)="changeIconColor($event)"
      >
      </app-icon-picker
      >
      <i
        #categoryIcon
        class="categoryIcon mr-3 fas fa-dumbbell"
        [style.color]="categoryColor">
      </i>
    </div>

    <app-editable-text
      [placeholder]="'Fitness'"
      fontSize="0.78rem"
      [editing]="editModeSubject"
      width="85%"
      display='flex'
      (onTextChange)="categoryTitle = $event"
    >
    </app-editable-text>
  </div>

</div>
