@import './../../../scss/colors';

.wrapper{
  position: absolute;
  min-width: 38rem;
  min-height: 26rem;
  background-color: white;
  z-index: 9999;
  box-shadow: 4px 6px 10px 4px rgba(black, .15);

  //display: none;
}

.handle{
  background-color: #ccc;
  height: 1.4rem;
  cursor: move;
  display: flex;
  justify-content: flex-end;
}

.closeButton{
  width: 2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: rgba($red_light, .3);
  }

  &:active{
    background-color: rgba($red_light, .7);
  }
}
