@import './../scss/mixins';
@import './../scss/animations';

.wrapper{
}

.spaceTitle{
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 4.8rem;
  font-weight: 400;
  color: white;
  cursor: default;
  padding-top: 1.8rem;

  animation-name: fadeInFromBottom-short;
  animation-duration: 1.4s;
  animation-timing-function: ease-out;

  @include hideTextHighlight;
}
