<div class="wrapper">
  <input class='menu-toggler' id='menu-toggler' type='checkbox'>
  <label for='menu-toggler'></label>

  <ul>
    <li class="menu-item">
      <a (click)="toggleWindows('todos')">
        <img src="assets/svg/to-do.svg" class="menu-item--icon">
      </a>
    </li>
    <li class="menu-item">
      <a (click)="toggleWindows('calendar')">
        <img src="assets/svg/calendar.svg" class="menu-item--icon">
      </a>
    </li>
    <li class="menu-item">
      <a>
        <img src="assets/svg/journal.svg" class="menu-item--icon">
      </a>
    </li>
    <li class="menu-item">
      <a>
        <img src="assets/svg/stopwatch.svg" class="menu-item--icon">
      </a>
    </li>
    <li class="menu-item">
      <a>
        <img src="assets/svg/settings.svg" class="menu-item--icon">
      </a>
    </li>
    <li class="menu-item">
      <a><img src="assets/svg/networking.svg" class="menu-item--icon"></a>
    </li>
  </ul>

</div>
