@import './../../../../scss/colors';

.wrapper{
}

.filterButton{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 3.6rem;
  height: 3rem;
  border: $grey_dark;
  background: linear-gradient($blue, $blue_light);
  border-radius: 50% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .85;
  cursor: pointer;
  transition: opacity .4s ease-out;
  z-index: 25;

  & i {
    font-size: 1.6rem;
    color: $grey_light2;
  }

  &:hover{
    opacity: 1;
  }
}

.filterPopover{
  display: none !important;
  position: fixed;
  bottom: 2.4%;
  right: 2.4%;
  width: 10rem;
  height: 12rem;
  background: linear-gradient($grey, $grey_light);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
  padding: .9rem;
  border-radius: 5% 5% 30% 5%;

  &--show{
    display: block !important;
  }
}

.filterByText{
  font-weight: 600;
  font-size: .7rem;
  letter-spacing: 1px;
}

.orientationButton{
  padding: 0;
  outline: none;
  border: none;
  background: none;
  font-size: 1.3rem;
  color: $grey_dark;
  cursor: pointer;

  transition: color .15s ease-in-out;

  &:hover{
    color: $grey_dark2;
  }
}

.form-check{
  padding: .4rem .8rem !important;

  & input, label{
    cursor: pointer;
  }

  & input {
    width: 2rem;
  }

  & label{
    font-size: .8rem;
  }
}

input[type=radio] {
  width: 1rem;
  height: 1rem;
}
