<div class="wrapper">

  <button class="registerButton">Register</button>

  <div class="formWrapper">
    <div class="inputGroup">
      <label for="input_email">Email or username</label>
      <input type="text" placeholder="" id="input_email">
    </div>

    <div class="inputGroup">
      <label for="input_password">Password</label>
      <input type="password" placeholder="" id="input_password">
    </div>

    <button class="loginButton" (click)="onLogin.emit()"><i class="fas fa-sign-in-alt mr-2"></i>Log in</button>
  </div>

</div>
