/* You can add global styles to this file, and also import other style files */

@import './scss/fonts';

body{
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgb(67, 148, 223);
}

html, body { height: 100%; }
body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Open Sans', sans-serif;
}
