/* You can add global styles to this file, and also import other style files */

@import './scss/fonts';
@import './scss/colors';

body{
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(220deg, rgba($blue, .85), rgba($blue_light, .85)), url('assets/img/abstract1.jpg');
  background-size: cover;
  background-position: center;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  scroll-behavior: smooth;
}

//**********************************************************************************
//  Bootstrap tweaks
//**********************************************************************************

.col{
  padding: 0 !important;
}

.container{
  margin: 0 !important;
}




//**********************************************************************************
//  Custom scrollbars
//**********************************************************************************


.customScrollbar{
  scrollbar-color: $grey $grey_light;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  &__1{
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: $grey_light;
    }
    &::-webkit-scrollbar-thumb {
      background: $grey_dark;
    }
  }

  &__2{
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: rgba($grey_dark2, .4);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($grey_light, .6);
    }
  }

  &__3{
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: rgba($grey_light, .15);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($grey_dark, .45);
    }
  }

  &__none{
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}

//

.blurElement{
  animation-name: blur;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.unblurElement{
  animation-name: unblur;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes blur{
  from{
    filter: blur(0);
  }
  to{
    filter: blur(3px);
  }
}


@keyframes unblur{
  from{
    filter: blur(3px);
  }
  to{
    filter: blur(0);
  }
}
