//@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

@font-face{
  font-family: 'Bad Script', cursive;
  src: url(assets/fonts/BadScript-Regular.ttf) format('opentype');
}

@font-face{
  font-family: 'Open Sans', sans-serif;
  src: url(assets/fonts/OpenSans-Regular.ttf) format('opentype');
}
