// General

$slightlyAbove: 101;

$window: 1000;
$activeWindow: 1001;

$customScrollBar: 9090;

$clickPreventer: 10101;
$onTopOfClickPreventer: 10102;

$basicModal: 15100;
$basicModalBox: 15101;



// Tasks
//


// Task categories
$addTaskCategoryButton: 9191;
