<div class="homeWrapper">
  <h1 class="spaceTitle">
    Space
  </h1>

  <app-floating-menu></app-floating-menu>


  <!--Windows-->
  <app-draggable-window
    *ngIf="windows.includes('tasks')"
    windowTitle='tasks'
    windowWidth="46rem"
    windowHeight="30rem"
  >
    <app-todo-list></app-todo-list>
  </app-draggable-window>

  <app-draggable-window
    *ngIf="windows.includes('calendar')"
    windowTitle='calendar'
    windowWidth="30rem"
    windowHeight="20rem"
  >
  </app-draggable-window>

  <app-draggable-window
    *ngIf="windows.includes('journal')"
    windowTitle='journal'
    windowWidth="30rem"
    windowHeight="20rem"
  >
  </app-draggable-window>

  <app-notifications></app-notifications>
</div>
