<div
  #todoWrapper class="todoWrapper"
  (clickOutside)="!_clickAwayOmittedFirst ? _clickAwayOmittedFirst = true : onClickAway.emit();"
>
  <!--Task title-->
  <div style="width: 85%;">
    <label for="input_title">Title</label>
    <input
      #input_title
      id="input_title"
      type="text"
      class="input_title"
      [ngClass]="{'inputErrorBorder': _formSubmitErrors && !taskTitle}"
      [placeholder]="taskPlaceholder"
      [(ngModel)]="taskTitle"
      (keydown.enter)="saveTask()"
      (keydown.tab)="setPlaceholderAsValue($event)"
    >
    <div *ngIf="_formSubmitErrors && !taskTitle" class="inputErrorMessage">Can't create a task with an empty title</div>
  </div>
  <!---->

  <div class="d-flex justify-content-between mt-3">
    <div class="d-flex" style="align-items: baseline;">
      <!--Task priority-->
      <div>
        <label>Priority</label>
        <div class="priority" (click)="togglePriority()">
          <i #priorityIcon class="fas fa-dot-circle"></i>
          <span #priorityText>
            {{
              priority == '1' ? 'LOW'
                : priority == '2' ? 'NORMAL'
                : 'HIGH'
            }}
          </span>
        </div>
      </div>
      <!---->

      <!--Task completion time-->
      <div class="d-flex flex-column">
        <label for="input_completionDate">Completion date</label>
        <div class="completionTime d-flex align-items-center mr-5">
          <img src="assets/svg/calendar2.svg" alt="Task completion time">

          <input [(ngModel)]="taskDate" id="input_completionDate" type="date" />
        </div>
      </div>
      <!---->
    </div>

    <!--Confirm creation button-->
    <button class="createConfirmButton" (click)="saveTask()">
      <i class="fas fa-check"></i>
    </button>
    <!---->
  </div>
</div>
