@import "./../../../../scss/colors";
@import "./../../../../scss/animations";
@import "./../../../../scss/zindexes";

.todoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.8rem !important;
  background-color: $grey_light2 !important;
  animation: fadeInFromBottom-short 0.6s ease-out both;
  z-index: $onTopOfClickPreventer;

  border-bottom: $grey_light2 2px solid;
  cursor: default !important;
}

label {
  font-size: 0.66rem;
  color: $grey_dark;
  margin: 0 0 0.2rem 0;
}

.input_title {
  display: block;
  border: none;
  width: 100%;
  outline: none;
  background-color: rgba(white, 0.5);
  color: $grey_dark2;
}

.createConfirmButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.2rem;
  height: 4.8rem;
  background: linear-gradient($green, $green_light);
  border: 0;
  outline: 0;
  border-radius: 50% 0 0 0;
  clip-path: polygon(0 92%, 100% 0, 100% 100%, 0% 100%);

  opacity: 0.75;

  & i {
    position: absolute;
    bottom: 8%;
    right: 10%;
    font-size: 1.85rem;
    color: $grey_light2;
  }

  &:hover {
    opacity: 1;
  }
}
